## Python If statment.
- These conditions can be used in several ways, most commonly in "if statements" and loops.
- An "if statement" is written by using the if keyword.

In [19]:
a=10
b=200
if b>a:
    print("san")

san

## Else.
- first condition is not true, also the elif condition is not true, so we go to the else condition

In [4]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

## Elif.
- first condition is not true, also the elif condition is not true, so we go to the else condition

In [6]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [7]:
# logical operator
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [8]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [9]:
a = 33
b = 200
if not a > b:
    print("a is NOT greater than b")

a is NOT greater than b

## Nested If
- You can have if statements inside if statements, this is called nested if statements.

In [13]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
else:
    print("but not above 20.")

Above ten,
and also above 20!

In [18]:
a = 'afsan'

if a == a[::-1]:
    print('palindrome')
else:
    print('not palindrome')

not palindrome

In [16]:
a = 33
b = 333
if b<a:
    print('messi')
elif b==33:
    print('ronaldo')
elif a<100:
    print('neymr')
else:
    print('mbappe')
print('hello')

neymr
hello

## The pass Statement
- if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [17]:
# the pass statment

a = 10
b = 200

if a<10:
    pass
    
print('hello')

hello

In [24]:
for x in [0, 1, 2]:
    pass

## For Loop Statement
- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
- This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
- With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [2]:
for i in [1,2,3,4,5]:
    print('sandhiya')

sandhiya
sandhiya
sandhiya
sandhiya
sandhiya

In [3]:
for i in range(2,50):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [4]:
for i in range(0,10):
    print(input('enetr the laptop'))

enetr the laptop1
1
enetr the laptop2
2
enetr the laptop3
3
enetr the laptop4
4
enetr the laptop5
5
enetr the laptop6
6
enetr the laptop4
4
enetr the laptop8
8
enetr the laptop9
9
enetr the laptop7
7

In [5]:
for i in "apple":
    print(i)

a
p
p
l
e

## break Statement
- With the break statement we can stop the loop before it has looped through all the items

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [31]:
for i in [1, 2]:
    for j in [10,100]:
        if i%2 == 0:
            print(i*j)
        print(i)
        break
    print(j)

1
10
20
2
10

In [32]:
for i in [1, 2]:
    for j in [10,100]:
        if i%2 == 0:
            print(i*j)
        print(i)
    print(j)
    break

1
1
100

In [11]:
x=[1,2,2,3,4,5,6,7]
for i in x:
    print(x)
    if x == "1":
        break

[1, 2, 2, 3, 4, 5, 6, 7]
[1, 2, 2, 3, 4, 5, 6, 7]
[1, 2, 2, 3, 4, 5, 6, 7]
[1, 2, 2, 3, 4, 5, 6, 7]
[1, 2, 2, 3, 4, 5, 6, 7]
[1, 2, 2, 3, 4, 5, 6, 7]
[1, 2, 2, 3, 4, 5, 6, 7]
[1, 2, 2, 3, 4, 5, 6, 7]

In [15]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [42]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

## continue Statement
- With the continue statement we can stop the current iteration of the loop, and continue with the next.

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [33]:
for i in [1, 2]:
    for j in [10,100]:
        if i%2 == 0:
            print(i*j)
            continue
        print(i)
    print(j)

1
1
100
20
200
100

In [40]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

## range() Function
- To loop through a set of code a specified number of times, we can use the range() function,
- The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [17]:
for x in range(5,10):
    print(x)

5
6
7
8
9

In [34]:
x= 'Python'
for ind in range(0, len(x)):
    print(x[ind] * (ind+1))

P
yy
ttt
hhhh
ooooo
nnnnnn

In [35]:
y = 'Python'
for var in range(-1, -len(y)-1, -1):
    print(y[var] * (-var))

n
oo
hhh
tttt
yyyyy
PPPPPP

In [26]:
for i in range(1,11):
    print(i,"*2=",i*2)

1 *2= 2
2 *2= 4
3 *2= 6
4 *2= 8
5 *2= 10
6 *2= 12
7 *2= 14
8 *2= 16
9 *2= 18
10 *2= 20

In [27]:
for i in range(1,11):
    print(i,"*3=",i*3)

1 *3= 3
2 *3= 6
3 *3= 9
4 *3= 12
5 *3= 15
6 *3= 18
7 *3= 21
8 *3= 24
9 *3= 27
10 *3= 30

In [18]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

## Else in For Loop
- The else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [20]:
# Note: The else block will NOT be executed if the loop is stopped by a break statement.

In [21]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

## Nested Loops

In [23]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [25]:
a = ['afsan' , 'khan' , 'messi']

for i in a:
    for j in i:
        print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

## while Loop
- With the while loop we can execute a set of statements as long as a condition is true.

In [36]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [41]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6