# Python Strings

#### # What is Strings?
- If we write any thing in '...', "...", '''...''', """...""".

In [1]:
# String, string indexing, slicing and string methods count, split, strip, rstrip, lstrip, rsplit
# find, index, startswith, endswith, format
# upper, lower, swapcase, replace, rfind
# rindex, title, isalpha, isalnum, isupper islower, istitle, join, isspace, isprintable isdigit, isnumeric, isdecimal, etc.

In [2]:
# Note: in the result, the line breaks are inserted at the same position as in the code.

In [3]:
print('san')
print("san")
print('''san''')
print("""san""")

san
san
san
san

#### 1. string indexing

In [4]:
# Indexing - Access one characters
# First Character
a="sandhiya"
print(a[0])
print(a[-8])
print(a[-len(a)])

# Last Character

print(a[7])
print(a[-1])
print

s
s
s
a
a

#### 2. slicing and string methods count
- You can return a range of characters by using the slice syntax.
- Specify the start index and the end index, separated by a colon, to return a part of the string.

In [5]:
# Slicing - Taking out a piece of the string
# str_name[start_index:end_index:step]

# Step +ve or -ve
# +ve - Slicing will be done from left to right
# -ve - Slicing will be done from right to left
x = "sandhiya, sandy"
print(x[:5]) # Get the characters from the start to position 5 (not included):
print(x[2:]) # Get the characters from position 2, and all the way to the end:
print(x[-5:-2]) # From: ""s in "sandy" (position -5) #To, but not included: "d" in "sandy" (position -2):
print(x[::5])
print(x[::-1])
print(x[:-len(x)-1:-1])
print(x[::-2])
print(x[::])
print(x[0:len(x):1])
print(x[6:4:5])

sandh
ndhiya, sandy
san
sis
ydnas ,ayihdnas
ydnas ,ayihdnas
yns,yhns
sandhiya, sandy
sandhiya, sandy

#### 3.split

In [57]:
x="sandhiya is beauty girl"
print(x.split())
y = 'she sells the shells at seashore'
print(y.split())

['sandhiya', 'is', 'beauty', 'girl']
['she', 'sells', 'the', 'shells', 'at', 'seashore']

#### 4.strip

In [55]:
a = " Hello, World! "
print(a.strip())
s = '**python**'
print(s)
print(s.strip('*'))

Hello, World!
**python**
python

#### 5.rstrip

In [53]:
x = "     banana     "

x.rstrip()

print("of all fruits", x, "is my favorite")
s = '**python**'
print(s)
print(s.rstrip('*'))

of all fruits      banana      is my favorite
**python**
**python

#### 6.lstrip

In [54]:
x = "     banana     "

x.lstrip()

print("of all fruits", x, "is my favorite")

s = '**python**'
print(s)
print(s.lstrip('*'))

of all fruits      banana      is my favorite
**python**
python**

In [10]:
x = '+++++****This is****++++ Python ++++ class+++++++'
print(x.strip('+').lstrip('*'))

This is****++++ Python ++++ class

#### 7.rsplit

In [11]:
x = "apple, banana, cherry"
x.rsplit()

['apple,', 'banana,', 'cherry']

#### 8.find

In [12]:
x= "Hello, welcome to my world." # string.find(value, start, end)
x.find("w")

7

In [13]:
x = "Hello, welcome to my world."
x.find("e", 5, 10)

8

#### 9.rfind

In [14]:
x = "Hello, welcome to my world."
x.rfind('d') # [, start_index, stop_index]

25

#### 10.upper

In [15]:
a = "Hello, World!"
print(a.upper())# It capitalizes all the letters

HELLO, WORLD!

#### 11.lower

In [16]:
a = "Hello, World!"
print(a.lower()) # It converts all the letters inlower case
x = 'fließen'
print(x.lower())
print(x.casefold())

hello, world!
fließen
fliessen

#### 12.swapcase

In [17]:
a = "Hello, World!"
print(a.swapcase()) # It swaps the cases of each letters

hELLO, wORLD!

#### 13.replace

In [61]:
a = "Hello, World!"
print(a.replace('e','h'))
y = 'she sells the shells at seashore'
print(y.replace('she', '*' ,5))

Hhllo, World!
* sells the *lls at seashore

#### 14.start_index

In [19]:
my_str = 'This is Python class'
print(my_str.startswith('T'))

True

#### 15. stop_index

In [20]:
my_str = 'This is Python class'
print(my_str.endswith('T'))

False

#### 16.index

In [21]:
my_str = 'This is Python class'
print(my_str.index('i'))

2

In [22]:
my_str = 'This is Python class'
print(my_str.rindex('i'))

5

#### 17. cpitalize.

In [23]:
x = 'this is Python Class'
print(x.capitalize())  # It capitalizes the first letter of the string

This is python class

#### 18. Title

In [24]:
x = 'this is Python Class'
print(x.title())  # It capitalizes the first letter each word in the string

This Is Python Class

In [25]:
# Returns Boolean values

# isalnum - It checks whether all characters are either alphabet or numeric or alphanumeric or not
# isalpha - It checks whether all characters are alphabet or not
# isdecimal - It checks whether all characters are alphabet or not
# isdigit - It checks whether all characters are alphabet or not
# isnumeric - It checks whether all characters are alphabet or not

In [26]:
print('23²'.isdecimal())
print('23²'.isdigit())
print('Ⅶ'.isnumeric())
print('Ⅶ'.isdecimal())
print('Ⅶ'.isdigit())

False
True
True
False
False

In [27]:
x= 'this is python class'
print(x.isprintable())

True

#### 19.count

In [28]:

x = 'This is Python class'
print(x.count('s'))
print(x.count('is'))
print(x.count('is', 5, 10))

4
2
1

#### 20. String formatting

In [29]:
# center, zfill, rjust, ljust

x = 'Python'
print(x.center(20))
print(x.center(21))
print(x.center(21, '*'))
print(x.ljust(20, '+'))
print(x.rjust(20, '+'))
print(x.zfill(20))
y = '98765'
print(y.zfill(10))

       Python
        Python
********Python*******
Python++++++++++++++
++++++++++++++Python
00000000000000Python
0000098765

#### 21.Join

In [58]:
x= ['This', 'is', 'Python', 'class']
print(' '.join(x))
print('-->'.join(x))
print('+'.join(x))
y = ['she', 'sells', 'the', 'shells', 'at', 'seashore']
"--->".join(y)

This is Python class
This-->is-->Python-->class
This+is+Python+class

'she--->sells--->the--->shells--->at--->seashore'

In [31]:
x = 'peter piper picked a peck of pickled peppers'

# Output1:- 'sreppep delkcip fo kcep a dekcip repip retep'
# Output2:- 'retep repip dekcip a kcep fo delkcip sreppep'
# Output3:- 'peppers pickled of peck a picked piper peter'
print(x[::-1])
print(x[::-1].split()[::-1])
print(' '.join(x.split()[::-1]))

sreppep delkcip fo kcep a dekcip repip retep
['retep', 'repip', 'dekcip', 'a', 'kcep', 'fo', 'delkcip', 'sreppep']
peppers pickled of peck a picked piper peter

####  21. Conditional Statmenets - if, elif, else

In [32]:
# if
# if else
# if elif else

num = int(input('Enter a number in the range 1-7: '))
if num == 1:
  print('Sunday')
elif num == 2:
  print('Monday')
elif num == 3:
  print('Tuesday')
elif num == 4:
  print('Wednesday')
elif num == 5:
  print('Thursday')
elif num == 6:
  print('Friday')
elif num == 7:
  print('Saturday')
else:
  print('Input is wrong')

Enter a number in the range 1-7: 6
Friday

In [33]:
num = int(input('Enter a number in the range 1-7: '))
if num == 1:
  print('Sunday')
elif num == 2:
  print('Monday')
elif num == 3:
  print('Tuesday')
elif num == 4:
  print('Wednesday')
elif num == 5:
  print('Thursday')
elif num == 6:
  print('Friday')
elif num == 7:
  print('Saturday')
else:
  print('Input is wrong')

Enter a number in the range 1-7: 9
Input is wrong

In [34]:
year = int(input('Enter an year: '))
if year%4 == 0:
    if year%100 == 0:
        if year%400 == 0:
            print(f'{year} is a leap Year')
        else:
            print(f'{year} is not a leap Year')
    else:
        print(f'{year} is a leap Year')
else:
    print(f'{year} is not a leap Year')

Enter an year: 20
20 is a leap Year

In [35]:
if(year%400 == 0) or ((year%4 == 0) and (year%100)!= 0):
  print('Year is a leap Year')
else:
  print('Year is not a leap year')

Year is a leap Year

#### 22.Concatenation

In [36]:
x = 'Python'
x1 = 'Class'
x2 = x + x1
print(x)
print(x1)
print(x2)

Python
Class
PythonClass

#### 23.Repetition

In [37]:
x='python'
x*3

'pythonpythonpython'

#### 24.Membership - in, not in

In [38]:
x = 'This is Python class'
print('T' in x)
print('This' in x)
print('p' not in x)
print('Pn'not in x)

True
True
True
True

In [39]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#### String Properties
- string is seq - it allows +ve and -ve index
- +ve indexing starts with 0 from l to r
- -ve indexing starts with -1 from r to l
- indexing, slicing, concatination, repetition, membership, identity
- string is immutable - item assignment is not allowed

In [41]:
a="sandhiya"
a[-1]

'a'

In [42]:
a[0]

's'

In [43]:
a[-3]

'i'

In [44]:
a = 'this is a python claSs'
a[0:7:2]

'ti s'

In [45]:
a = 'python'
print(id(a))
a = a[::-1]
print(id(a))
print(a)

2051888698544
2051937827248
nohtyp

In [46]:
# \n - new line
print('hello\nworld')

hello
world

In [47]:
# \t - tab - 4 spces
print('hello\tworld')

hello	world

In [48]:
# \ - back slash - escaping

print('this is python\'s class')
print('hello\\tworld')
print('hello\\nworld')

this is python's class
hello\tworld
hello\nworld

In [49]:
print('sandhiya\
sandy\
valar\
sandhiyak')

sandhiyasandyvalarsandhiyak

In [50]:
# \b - backspace - Deletes the pervious char
"""
\b is used behing the scene in the application eg sql , mongo
"""
a= 'abc\bxyz'
print(a)

print('ab'+'\b'+'c')

abcxyz
abc

In [51]:
 # \r carriage return
"""
\r is used behing the scene in the application eg sql , mongo
"""
text = 'afsaan\rkhan'
print(text)

text = 'hellohhyutg\rkhan'
print(text)

text = 'he\rkhan'
print(text)

khan
khan
khan

In [52]:
# raw string
print(r'afsan\bkhan')

afsan\bkhan

In [62]:
# ljust(left adjustment) , rjust(right adjustment)

x= 'afsan'
print(x.ljust(60),'hello world')

y = 'afsan'
print('messi',y.rjust(30),'hello world')

afsan                                                        hello world
messi                          afsan hello world