# python collections
- List
- Tuple
- Set
- dictionary

## List
- anything that can be wriiten inside a [] and elements are sep by comma
- Allows Duplicate
- Any type of data can be stored
- We can modify the list item. We can add and remove
- insert(), append(), extend(),pop()

In [1]:
a=[1,2,3,4,5,6]
print(type)

<class 'type'>

In [2]:
# 1. allows duplicate element

a = [1,1,1,1,1,1,1,1,1]

print(a)
print(type(a))

[1, 1, 1, 1, 1, 1, 1, 1, 1]
<class 'list'>

In [3]:
# 2. it can store any data type

a = [1 , 2.2 , 10+6j , None , (1,2,3) , 'abc' , True , False]
print(a)

[1, 2.2, (10+6j), None, (1, 2, 3), 'abc', True, False]

In [5]:
# 1.append
"""
appends an element to the end of the list
you can only enter one element at a time
"""
a.append(7)
print(a)

a.append("sand")
a.append(6)
print(a)

print(a[1])

[1, 2.2, (10+6j), None, (1, 2, 3), 'abc', True, False, 7, 'sand', 6, 7]
[1, 2.2, (10+6j), None, (1, 2, 3), 'abc', True, False, 7, 'sand', 6, 7, 'sand', 6]
2.2

In [6]:
# 2. insert - Returns the index of the first element with the specified value

"""
insert method insert the value at a particular index

syntax - list.insert(index , element to be inserted)

only one element at a time

"""
a.insert(0,11)
print(a)

[11, 1, 2.2, (10+6j), None, (1, 2, 3), 'abc', True, False, 7, 'sand', 6, 7, 'sand', 6]

In [7]:
a = 'hey wassup'
a.split()

['hey', 'wassup']

In [11]:
# 3.pop - Removes the element at the specified position
"""
removes the ele by index

pop() deafult removes the last element


it is the only method that returns a value

syntax = l1.pop(index)

"""
a=[1,2,3,4,5,6]
a.pop(3)
print(a)

[1, 2, 3, 5, 6]

In [12]:
# 4. extend
"""
extent is similar to concatinatio but the object is getting changed in extend

 - merges two list
"""
a=[1,2,3,4,5,6]
b=[11,22,35]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 11, 22, 35]

In [13]:
# 5. remove
"""
removes the specified value from a list

only removes the first occurance
"""
a= [1,2,3,4,5]
a.remove(5)
a

[1, 2, 3, 4]

In [14]:
# 6.count - count and returns the occurance of a value

a = [1,1,1,2,2,3,3,4,4,5,6]
a.count(1)

3

In [15]:
# 7. index - Returns the index of the first element with the specified value
"""
returns the index of the element

"""

l2 = [10,12,30,10,10,30,20]
l2.index(12)

1

In [80]:
# 8. clear - Removes all the elements from the list
a = ['apple', 'banana', 'cherry', 'orange']

a.clear()
print(a)

[]

In [18]:
# 9.reverse - Reverses the order of the list
l = [1,2,3,4,5]
l.reverse()
print(l)

[5, 4, 3, 2, 1]

In [26]:
# sort - Sorts the list
"""
will sort the element in list

Note - sort will only work on list of homogenous data

behind the scene - comparison operators
"""
l = [4,1,6,8,3,4,56]
l.sort()
print(l)

print(l.sort(reverse = True))

[1, 3, 4, 4, 6, 8, 56]
None

In [25]:
# sorting in descending order

l = [6,4,7,8,9,2,3,4]
l.sort(reverse = True)
l

[9, 8, 7, 6, 4, 4, 3, 2]

In [21]:
# clear

a = [1,2,3,4,5,6]
print(a)
a.clear()
print(a)

[1, 2, 3, 4, 5, 6]
[]

In [22]:
# shallow copy
a = [1,2,3,4,5]
b = a.copy()

print(id(a) , a)
print(id(b), b)

b[0] = 100
print(id(a) , a)
print(id(b), b)

2849090277376 [1, 2, 3, 4, 5]
2849090242304 [1, 2, 3, 4, 5]
2849090277376 [1, 2, 3, 4, 5]
2849090242304 [100, 2, 3, 4, 5]

In [23]:
a=[1,2,3,4,5]
print(id(a))

2849090528960

In [27]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

#### nested list

- list inside a list is called as nested list

In [28]:
a = [1,2,3,[10,11,12]]

a[3][1]

11

In [29]:
b = [[1,2,3,4] , ['learnbay' , 'afsaan' , 'hello'] , [None , True , False]]

b[-2][-2]

'afsaan'

## Tuple
- Allows Duplicate
- Any type of data can be stored
- We cannot modify the tuple item. We cannot add or remove.

In [30]:
# 1. Any type of data can be stored:

a = (1, 1.2, None, [1,2,3], 'abc', True)
print(a)

(1, 1.2, None, [1, 2, 3], 'abc', True)

In [31]:
# 2. allows duplicate ele

a = (1,1,1,1,2,2,2,3,3,3,4,4)
print(a)

(1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4)

In [32]:
a=(1,2,3,4,5,6)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [33]:
tup1 = eval(input('enter the input'))
print(tup1 , type(tup1))

enter the input10
10 <class 'int'>

In [34]:
a = 'messi'
tuple(a)

('m', 'e', 's', 's', 'i')

In [36]:
a=(1,2,3,4,5,6)
b=list(a)
print(b)

[1, 2, 3, 4, 5, 6]

In [37]:
# indexing
a = (1 , 1.2 , None , [1,2,3], 'abc' , True)
print(a[0])

1

In [38]:
# slicing
a = (1 , 1.2 , None , [1,2,3], 'abc' , )
print(a[::-2])

('abc', None, 1)

In [39]:
# repetition

"""
op- *
operand - one should be tuples and other should be int
"""

(1,2,3,4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [46]:
# methods in tuple

# 1. count - count the occourance of a specified value

a = (1,2,3,4,5)
print(a.count(2))
b = (10,20,20.30, 20, 100, 10, 20, 90, 9, 89, 10, 20)
print(b.count(10))

1
3

In [47]:
# 2. index - returns the index of a given value - only the first occurance
a = (1,2,3,4,5,6)
print(a.index(6))
b = (10,20,20.30, 20, 100, 10, 20, 90, 9, 89, 10, 20)
print(b.index(10))

5
0

In [44]:
a = [10,20,30,40]
b = a.copy()
b

[10, 20, 30, 40]

In [45]:
# Taking tuple as an input from user
tpl = eval(input('Enter a tuple: '))
print(tpl, type(tpl))

Enter a tuple: 10
10 <class 'int'>

In [50]:
emp_name = 'Krishna'
emp_company = 'Learnbay'
emp_id = 'LB101'
emp_pin = 123456
emp_married = True
emp_info = emp_name, emp_company, emp_id, emp_pin, emp_married        
print(emp_info, type(emp_info))

('Krishna', 'Learnbay', 'LB101', 123456, True) <class 'tuple'>

In [51]:
student_info = ('Aniket', 15, 'IX', 98.89)
st_name, st_age, st_std, st_marks = student_info
print(st_name)
print(st_age)
print(st_std)
print(st_marks)

Aniket
15
IX
98.89

In [42]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

## Set{}
- Do not allow duplicate, Duplicate values will be removed.
- any type of data can be stored.
- We cannot modify the set item but we can add or remove items.
- set are unordered .
- add(), update(), remove(), pop()

In [52]:
a={1,2,3,4,5,4}
print(a)

{1, 2, 3, 4, 5}

In [54]:
a={1,2,3,4,5,4}
a.add(10)
print(a)

{1, 2, 3, 4, 5, 10}

In [55]:
a={1,2,3,4,5,4}
a.remove(4)
print(a)

{1, 2, 3, 5}

In [56]:
a={1,2,3,4,5,4}
a.pop()
print(a)

{2, 3, 4, 5}

In [58]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

## Dictionary {}
- Do not allow Duplicate, Duplicate values will overwrite existing value
- Any type of data can be stored
- Key: Values pair {"name":,"EMC"}
- get(), keys(), values(), items(), update({"year":2020}), this dict["color"] = "red", thisdict.pop("model"), del(), clear()

#### Properties of dict

- 1. it is a collection of key value pair
- 2.  key,value pair is called item
- 3. items are sep by ,
- 4. key and value are sep by :
- 5. key cannot be duplicated whereas value can be duplicated
- 6. key is always immutable data type
- 7. value can be any data type( mutable , immutable)
- 8. all the items are into {}
- 9. dict is not a seq data type - no slicing , no indexing , no condcatination , no repition
- 10. membership is applicable only on keys
- 11. identity op os possible
- 12. dic is mutable

In [59]:
a = ['Sandhiya' , 26 , 700]

#name
print(a[0])
print(a[1])
print(a[2])

Sandhiya
26
700

In [60]:
# fromkeys method

"""
create a new dict with the keys from the iterables and value set to default

dict.fromkeys(iterable)

"""

list_1 = ['emp1' , 'emp2', 'emp3']

data = dict.fromkeys(list_1 , 'data not present')

print(data)

{'emp1': 'data not present', 'emp2': 'data not present', 'emp3': 'data not present'}

In [61]:
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
a= dict(((1,'Monday'),('b','Tuesday')))
print(a)

{1: 'Monday', 'b': 'Tuesday'}

In [63]:
a = {'st_101':{'st_name':'Abhishek',
                     'st_std':'X',
                     'st_marks':99.89},
            'st_102':{'st_name':'Abhishek',
                      'st_std':'X',
                      'st_marks':99.89}}

print(a.clear())    
print(a)

None
{}

In [64]:
# If key is present then it returns the value associated with irt
# If key is not present and 2nd argument is not provided then It return None
# If key is not present and 2nd argument is provided then It return 2nd arg as output
# In all these case it does not update the dictionary whether key is present or not present

a = {1:100, 10.20:20.30, 10+20j:20+30j, 'a':'Python', False:True, (1, 2, 3):[1,2, 3]}
print(a.get(10+20j))
print(a)

(20+30j)
{1: 100, 10.2: 20.3, (10+20j): (20+30j), 'a': 'Python', False: True, (1, 2, 3): [1, 2, 3]}

In [65]:
# If key is present then it returns the value associated with it
# If key is not present and 2nd argument is not provided then It return None and creates a key value pair key: None in the dictionary
# If key is not present and 2nd argument is provided then It return 2nd arg as output and creates a key value pair key: 2nd arg in the dictionary

a = {1:100, 10.20:20.30, 10+20j:20+30j, 'a':'Python', False:True, (1, 2, 3):[1,2, 3]}
print(a.setdefault(10+20j))
print(a)

(20+30j)
{1: 100, 10.2: 20.3, (10+20j): (20+30j), 'a': 'Python', False: True, (1, 2, 3): [1, 2, 3]}

In [73]:
# membership op - only on keys

dic_a = {'name':'Afsan' , 'lastname':'khan'}

print('name' in dic_a)

True

In [66]:
# my_dict = {}
my_lst = ['st_name', 'st_id', 'st_marks']
my_dict = {}.fromkeys(my_lst, [])
print(my_dict)

{'st_name': [], 'st_id': [], 'st_marks': []}

In [67]:
my_dict = {1:100, 10.20:20.30, 10+20j:20+30j, 'a':'Python', False:True, (1, 2, 3):{1:[1,2, 3]}}
dup_dict = my_dict.copy()  # Shallow copy
dup_dict[(1,2, 3)][1][0] = 111
print(dup_dict, id(dup_dict))
print(my_dict, id(my_dict))

{1: 100, 10.2: 20.3, (10+20j): (20+30j), 'a': 'Python', False: True, (1, 2, 3): {1: [111, 2, 3]}} 2849090540416
{1: 100, 10.2: 20.3, (10+20j): (20+30j), 'a': 'Python', False: True, (1, 2, 3): {1: [111, 2, 3]}} 2849090121664

In [68]:
from copy import deepcopy
my_dict = {1:100, 10.20:20.30, 10+20j:20+30j, 'a':'Python', False:True, (1, 2, 3):{1:[1,2, 3]}}
dup_dict = deepcopy(my_dict)  # Deep copy
dup_dict[(1,2, 3)][1][0] = 111
print(dup_dict, id(dup_dict))
print(my_dict, id(my_dict))

{1: 100, 10.2: 20.3, (10+20j): (20+30j), 'a': 'Python', False: True, (1, 2, 3): {1: [111, 2, 3]}} 2849090111040
{1: 100, 10.2: 20.3, (10+20j): (20+30j), 'a': 'Python', False: True, (1, 2, 3): {1: [1, 2, 3]}} 2849090191168

In [69]:
dic_a = {'age':24 , 'name': 'afsaan' , 'salary':24}

print(dic_a['name'])
print(dic_a['age'])
print(dic_a['salary'])

afsaan
24
24

In [75]:
# update

# updated method is similar to extent in list
employee_data = {'emp1':{'name':'afsan' , 'age':22 , 'courses':['ai' , 'machine learning']} , 
                 'emp2':{'name':'rahul' ,'age':32 }}


new_data = {'emp4': {'name':'aditya'} , 'emp5': {'name':'xyz'}}

employee_data.update(new_data)

print(employee_data)

{'emp1': {'name': 'afsan', 'age': 22, 'courses': ['ai', 'machine learning']}, 'emp2': {'name': 'rahul', 'age': 32}, 'emp4': {'name': 'aditya'}, 'emp5': {'name': 'xyz'}}

In [76]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']